# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos generados por el proyecto
*.pkl

# Configuración de editores
.vscode/
.idea/